In [1]:
# importing liabraries
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

## Scrapping Data For Data Analyst From Naukri.com

In [8]:
# calling webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [12]:
#opening website
driver.get('https://www.naukri.com/')

In [13]:
# calling search bar
skill_search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")

In [14]:
# typing data analyst
skill_search_bar.send_keys('Data Analyst')

In [15]:
# calling location search bar
location_search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")

In [16]:
# typing banglore 
location_search_bar.send_keys('Banglore')

In [17]:
# calling search button
search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")

In [18]:
# clicking search button
search_button.click()

In [19]:
# empty list for job title
job_name = []

In [20]:
# writing custom xpath job title
jobtitle=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [21]:
# saving first 10 jjob titles
for i in jobtitle[0:10]:
    title=i.text
    job_name.append(title)

In [22]:
job_name

['Data Analyst',
 'Data Analyst - SQL',
 'Data Analyst / 4 - 7 years / Bangalore',
 'Data Analyst, Business Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Project Data Analyst',
 'Financial Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst']

In [49]:
# calculating length of title
len(job_name)

10

In [41]:
# empty list for company title
company_name = []

In [42]:
# writing custom xpath for company name
company_xpath=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

In [43]:
# saving first 10 comapny name
for i in company_xpath[0:10]:
    title=i.text
    company_name.append(title)

In [44]:
company_name

['Treebo Hotels',
 'Teamware Solutions',
 'Wize Careers Consultants',
 'Clinilaunch Research Institute Llp',
 'Boston Consulting Group',
 'Mobile Premier League (MPL)',
 'WSP',
 'Apollo Hospitals',
 'Flipkart',
 'Cargill']

In [45]:
# calculating length
len(company_name)

10

In [32]:
# making empty list for experience req
exp_required= []

In [31]:
# locating by xpath
experience_xpath = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")

In [33]:
# adding first 10 comapany's experience requirement
for i in experience_xpath[0:10]:
    exp_required.append(i.text)

In [34]:
exp_required

['1-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '0-5 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '0-4 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '3-5 Yrs']

In [53]:
# calaculating length for exp req
len(exp_required)

10

In [54]:
# making empty list for job location
location = []

In [55]:
# adding xpath for location
location_xpath = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")

In [56]:
# scrapping first 10 locations
for i in location_xpath[0:10]:
    location.append(i.text)

In [57]:
location

['Temp. WFH - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +1)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [58]:
# calculating length
len(location)

10

In [61]:
#making data frame of data from naukri.com 
jobdata = pd.DataFrame({'job name':job_name,'company name':company_name,'experience required':exp_required,'location':location})

In [62]:
jobdata

,job name,company name,experience required,location
0,Data Analyst,Treebo Hotels,1-5 Yrs,Temp. WFH - Bangalore/Bengaluru
1,Data Analyst - SQL,Teamware Solutions,3-5 Yrs,Bangalore/Bengaluru
2,Data Analyst / 4 - 7 years / Bangalore,Wize Careers Consultants,4-7 Yrs,Bangalore/Bengaluru
3,"Data Analyst, Business Analyst",Clinilaunch Research Institute Llp,0-5 Yrs,Bangalore/Bengaluru(HSR Layout +1)
4,Sr Data Analyst,Boston Consulting Group,4-6 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Mobile Premier League (MPL),3-6 Yrs,Bangalore/Bengaluru
6,Project Data Analyst,WSP,0-4 Yrs,Bangalore/Bengaluru
7,Financial Data Analyst,Apollo Hospitals,3-8 Yrs,Bangalore/Bengaluru
8,Executive - Data Analyst,Flipkart,1-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru

## Scrapping Data From Naukri.com for Data Scientist

In [75]:
# calling webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [76]:
#opening website
driver.get('https://www.naukri.com/')

In [77]:
# calling search bar
skill_search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")

In [79]:
# typing data scientist
skill_search_bar.send_keys('Data Scientist')

In [80]:
# calling location search bar
location_search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")

In [81]:
# typing banglore 
location_search_bar.send_keys('Banglore')

In [82]:
# calling search button
search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")

In [83]:
# clicking search button
search_button.click()

In [109]:
# empty list for job title
job_name = []

In [110]:
# writing custom xpath for company name
job_xpath=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [111]:
# scrapping first 10 locations
for i in job_xpath[0:10]:
    job_name.append(i.text)

In [112]:
len(job_name)

10

In [86]:
# empty list for company title
company_name = []

In [87]:
# writing custom xpath for company name
company_xpath=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

In [96]:
# scrapping first 10 company
for i in company_xpath[0:10]:
    company_name.append(i.text)

In [97]:
len(company_name)

10

In [88]:
# making empty list for job location
location = []

In [92]:
# adding xpath for location
location_xpath = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")

In [93]:
# scrapping first 10 locations
for i in location_xpath[0:10]:
    location.append(i.text)

In [94]:
len(location)

10

In [113]:
#making data frame of data from naukri.com 
jobdata = pd.DataFrame({'job name':job_name,'company name':company_name,'location':location})

In [114]:
jobdata

,job name,company name,location
0,Analystics & Modeling Specialist,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,Data Scientist,Tata Nexarc,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed..."
2,Data Scientist,Tech Mahindra,"Nagpur, Pune, Bangalore/Bengaluru"
3,ACN - Applied Intelligence - Data Scientist - 09,Accenture,Bangalore/Bengaluru
4,Data Scientist,Mindtree,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba..."
5,Data Scientist - II,Bizongo,"India, Bangalore/Bengaluru, Mumbai (All Areas)"
6,Senior Data Scientist,Baker Hughes,"Mumbai, Bangalore/Bengaluru"
7,Lead Data Scientist,Caterpillar Inc,Bangalore/Bengaluru
8,Lead Data Scientist,Lowe's,Bangalore/Bengaluru
9,Data Science - Engineering Manager,Paytm,"New Delhi, Bangalore/Bengaluru"

## Scrapping Data From Naukri.com for Data Scientist using filter

In [132]:
# calling driver
driver = webdriver.Chrome('chromedriver.exe')

In [133]:
# opening web
driver.get('https://www.naukri.com/')

In [134]:
# adding search bar
search_bar = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')

In [135]:
# searching data scientist
search_bar.send_keys('data scientist')

In [136]:
#location_search = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')

In [137]:
#location_search.send_keys('Delhi')

In [138]:
# calling search button
search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')

In [139]:
#clicking search
search_button.click()

In [142]:
# adding location filter of delhi NCR
delhi_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')

In [143]:
# clicking filter
delhi_filter.click()

In [144]:
# salary filter 3-6 lakhs
salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

In [145]:
# clicking filter
salary_filter.click()

In [177]:
# crating blank list for job title
job_title = []

In [178]:
# creating xpath
job_xpath = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [179]:
# getting first 10 titles 
for i in job_xpath[0:10]:
    job_title.append(i.text)

In [180]:
job_title

['Artificial Intelligence/Computer Vision Engineer - Machine Learning',
 'Data Activation Specialist - Adobe Target',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Opening For Jr. Data Scientist with Tatras Data For Delhi location',
 'SE/SSE-Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'URGENT: Data Scientist | Gurugram | 5 Days Working',
 'Data Scientist']

In [181]:
# calculating length
len(job_title)

10

In [154]:
# company blank list
company = []

In [156]:
# compsny xpath
company_xpath = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

In [157]:
# adding first 10 companies
for i in company_xpath[0:10]:
    company.append(i.text)

In [158]:
company

['Vicara',
 'Okda Solutions',
 'NGI Ventures',
 'Primo Hiring',
 'Tatras Data Services',
 'Bold Technology Systems',
 'torcai digital media',
 'Americana Restaurants (india)',
 'Digilytics',
 'Alliance Recruitment Agency']

In [182]:
# measuring length
len(company)

10

In [161]:
# exp blank list
exp = []

In [163]:
# exp xpath
exp_xpath = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")

In [164]:
# adding first 10 exp
for i in exp_xpath[0:10]:
    exp.append(i.text)

In [165]:
exp

['1-3 Yrs',
 '7-10 Yrs',
 '1-5 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-4 Yrs']

In [183]:
len(exp)

10

In [167]:
# location blank list
location = []

In [168]:
# location xpath
location_xpath = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")

In [169]:
# adding first 10 location
for i in location_xpath[0:10]:
    location.append(i.text)

In [172]:
location

['Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Temp. WFH - Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida']

In [184]:
len(location)

10

In [185]:
# making dataframe
jobdata_ds = pd.DataFrame({'job_title':job_title,'job_location':location,'experience_req':exp,'company':company})

In [186]:
jobdata_ds

,job_title,job_location,experience_req,company
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Vicara
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",7-10 Yrs,Okda Solutions
2,Data Scientist,Temp. WFH - Noida,1-5 Yrs,NGI Ventures
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Primo Hiring
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,2-4 Yrs,Tatras Data Services
5,SE/SSE-Data Scientist,Delhi / NCR,3-8 Yrs,Bold Technology Systems
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",2-7 Yrs,torcai digital media
7,Data Scientist,Gurgaon/Gurugram,3-8 Yrs,Americana Restaurants (india)
8,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,2-5 Yrs,Digilytics
9,Data Scientist,Noida,3-4 Yrs,Alliance Recruitment Agency

## Scrapping Data From Flipkart of Sunglasses

In [106]:
driver = webdriver.Chrome('chromedriver.exe')

In [107]:
driver.get('https://www.flipkart.com/')

In [108]:
search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [109]:
search_bar.send_keys('Sunglasses')

In [110]:
search_box = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

In [111]:
search_box.click()

In [174]:
brand=[]

In [175]:
brand_xpath = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [176]:
for i in brand_xpath[0:100]:
    brand.append(i.text)

In [177]:
brand

['OAKLEY',
 'NuVew',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'SRPM',
 'shah collections',
 'GANSTA',
 'Urbanic',
 'ROZZETTA CRAFT',
 'HRX by Hrithik Roshan',
 'PETER JONES',
 'FOSSIL',
 'ROYAL SON',
 'OAKLEY',
 'ROZZETTA CRAFT',
 'IZAAN MART',
 'ROZZETTA CRAFT',
 'Urbanic',
 'United Colors of Benetton',
 'VINCENT CHASE',
 'ROYAL SON',
 'NuVew',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PROVOGUE',
 'New Specs',
 'ROYAL SON',
 'AISLIN',
 'Singco',
 'AISLIN',
 'ROYAL SON',
 'TheWhoop',
 'VINCENT CHASE',
 'NuVew',
 'Sewell']

In [178]:
len(brand)

40

In [121]:
price = []

In [122]:
price_xpath = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [123]:
for i in price_xpath[0:40]:
    price.append(i.text)

In [124]:
price

['₹199',
 '₹278',
 '₹129',
 '₹489',
 '₹149',
 '₹129',
 '₹599',
 '₹497',
 '₹129',
 '₹539',
 '₹283',
 '₹806',
 '₹159',
 '₹149',
 '₹539',
 '₹597',
 '₹479',
 '₹149',
 '₹259',
 '₹719',
 '₹179',
 '₹599',
 '₹479',
 '₹284',
 '₹257',
 '₹664',
 '₹479',
 '₹447',
 '₹599',
 '₹149',
 '₹209',
 '₹949',
 '₹969',
 '₹599',
 '₹129',
 '₹328',
 '₹2,699',
 '₹269',
 '₹128',
 '₹497']

In [125]:
len(price)

40

In [161]:
description = []

In [162]:
description_xpath = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [163]:
for i in description_xpath[0:40]:
    description.append(i.text)

In [164]:
len(description)

40

In [130]:
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [131]:
next_button.click()

In [179]:
brand_xpath = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

In [180]:
for i in brand_xpath[0:100]:
    brand.append(i.text)

In [181]:
len(brand)

80

In [135]:
price_xpath = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [136]:
for i in price_xpath[0:40]:
    price.append(i.text)

In [137]:
len(price)

80

In [165]:
description_xpath = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [166]:
for i in description_xpath[0:40]:
    description.append(i.text)

In [167]:
len(description)

80

In [141]:
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [142]:
next_button.click()

In [143]:
price_xpath = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [144]:
for i in price_xpath[0:20]:
    price.append(i.text)

In [145]:
len(price)

100

In [168]:
description_xpath = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [169]:
for i in description_xpath[0:20]:
    description.append(i.text)

In [170]:
len(description)

100

In [182]:
brand_xpath = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [183]:
for i in brand_xpath[0:20]:
    brand.append(i.text)

In [184]:
len(brand)

100

In [185]:
sunglasses_data = pd.DataFrame({'brand':brand,'price':price,'description':description})

In [186]:
sunglasses_data

             brand   price                                        description
0           OAKLEY    ₹199                              Retro Square Sunglass
1            NuVew    ₹278   UV Protection, Mirrored Wayfarer Sunglasses (58)
2   ROZZETTA CRAFT    ₹129  UV Protection, Gradient Retro Square Sunglasse...
3        Elligator    ₹489   UV Protection, Mirrored Wayfarer Sunglasses (54)
4    VINCENT CHASE    ₹149  by Lenskart UV Protection Aviator Sunglasses (58)
..             ...     ...                                                ...
95       ROYAL SON    ₹664  UV Protection, Gradient Over-sized Sunglasses ...
96          OAKLEY  ₹5,769                                    Shield Sunglass
97  ROZZETTA CRAFT    ₹449         UV Protection Round Sunglasses (Free Size)
98      IZAAN MART    ₹290           Night Vision Rectangular Sunglasses (55)
99  ROZZETTA CRAFT    ₹649              UV Protection Aviator Sunglasses (62)

[100 rows x 3 columns]

## Scrapping Reviews of Iphone 11

In [7]:
driver = webdriver.Chrome('chromedriver.exe')

In [11]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [9]:
ratings = []
summary_review = []
full_review = []

In [27]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [15]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)

In [16]:
summary_review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Pretty good',
 'Great product']

In [17]:
for i in star_xpath[0:100]:
    ratings.append(i.text)

In [18]:
ratings

['5', '5', '5', '4', '5', '5', '5', '5', '4', '5']

In [19]:
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [20]:
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE']

In [66]:
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[7]/div/div/nav/a[12]')

In [22]:
next_button.click()

In [24]:
summary_xpath = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")

In [25]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)

In [28]:
for i in star_xpath[0:100]:
    ratings.append(i.text)

In [29]:
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [31]:
next_button.click()

In [46]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [33]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)

In [34]:
for i in star_xpath[0:100]:
    ratings.append(i.text)

In [35]:
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [36]:
len(ratings)

30

In [37]:
next_button.click()

In [40]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)

In [41]:
for i in star_xpath[0:100]:
    ratings.append(i.text)

In [42]:
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [48]:
len(ratings)

39

In [51]:
for i in star_xpath[0:1]:
    ratings.append(i.text)

In [52]:
len(ratings)

40

In [49]:
len(summary_review)

40

In [50]:
len(full_review)

40

In [45]:
next_button.click()

In [53]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [54]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [55]:
len(ratings)

49

In [56]:
for i in star_xpath[0:1]:
    ratings.append(i.text)

In [58]:
len(ratings)

50

In [57]:
len(full_review)

50

In [59]:
next_button.click()

In [60]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [61]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [62]:
len(ratings)

54

In [63]:
len(full_review)

54

In [67]:
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[7]/div/div/nav/a[12]')

In [68]:
next_button.click()

In [69]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [70]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [71]:
len(ratings)

59

In [72]:
len(full_review)

59

In [74]:
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[8]/div/div/nav/a[12]')

In [75]:
next_button.click()

In [76]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [77]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [78]:
len(ratings)

61

In [79]:
len(full_review)

61

In [83]:
next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")

In [84]:
next_button.click()

In [85]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [86]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [87]:
print(len(ratings))
print(len(full_review))

66
66

In [88]:
next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")

In [89]:
next_button.click()

In [90]:
summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [91]:
for i in summary_xpath[0:100]:
    summary_review.append(i.text)
for i in star_xpath[0:100]:
    ratings.append(i.text)
for i in fullreview_xpath[0:100]:
    full_review.append(i.text)

In [92]:
print(len(ratings))
print(len(full_review))

71
71

In [93]:
next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")

In [94]:
next_button.click()

In [96]:
def flipkart():
    summary_xpath = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    fullreview_xpath =  driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    next_xpath =  driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    
    for i in summary_xpath[0:100]:
        summary_review.append(i.text)
    for i in star_xpath[0:100]:
        ratings.append(i.text)
    for i in fullreview_xpath[0:100]:
        full_review.append(i.text)
        
    print(len(ratings))
    print(len(full_review))
    
    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()

In [98]:
flipkart()

75
75

In [99]:
flipkart()

79
79

In [100]:
flipkart()

84
84

In [101]:
flipkart()

88
89

In [102]:
flipkart()

90
91

In [103]:
flipkart()

99
101

In [104]:
star_xpath =  driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [105]:
for i in star_xpath[0:2]:
        ratings.append(i.text)

In [106]:
print(len(ratings))
print(len(full_review))

101
101

In [107]:
df = pd.DataFrame({'ratings':ratings,'summay review':summary_review,'full review':full_review})

In [108]:
df.shape

(101, 3)

In [110]:
iphone_reviews = df[:100][:]

In [111]:
iphone_reviews

,ratings,summay review,full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Wonderful,Its good.. a little heavy on my pinky but its ...
96,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
97,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
98,5,Perfect product!,Worth the money’ starting first from its perfo...
99,5,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...

## Scrapping Data of sneakers

In [118]:
driver.get('https://www.flipkart.com/')

In [119]:
search_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_box = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

In [120]:
search_bar.send_keys('Sneakers')

In [121]:
search_box.click()

In [122]:
brand = []
price = []
des = []

In [135]:
def sneaker():
    brand_xpath = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    price_xpath =  driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    des_xpath =  driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    next_xpath =  driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    
    for i in brand_xpath[0:100]:
        brand.append(i.text)
    for i in price_xpath[0:100]:
        price.append(i.text)
    for i in des_xpath[0:100]:
        des.append(i.text)
        
    print(len(brand))
    print(len(price))
    print(len(des))
    
    next_button = driver.find_element(By.XPATH,"(//a[@class='_1LKTO3'])[2]")
    next_button.click()

In [140]:
#for o in range(0,100):
#    sneaker()

In [137]:
#brand.clear()

In [138]:
#price.clear()

In [151]:
#des.clear()

In [141]:
sneaker()

40
40
40

In [142]:
sneaker()

80
80
80

In [143]:
sneaker()

120
120
120

In [144]:
df = pd.DataFrame({'brand':brand,'price':price,'product_description':des})

In [145]:
df.shape

(120, 3)

In [146]:
sneakers_data = df[:100][:]

In [147]:
sneakers_data = pd.DataFrame(sneakers_data)

In [150]:
sneakers_data

           brand   price product_description
0             TR    ₹494                ₹494
1         Footox    ₹499                ₹499
2           PUMA  ₹3,500              ₹3,500
3       ASTEROID    ₹499                ₹499
4       RED TAPE  ₹1,143              ₹1,143
..           ...     ...                 ...
95        VENDOZ    ₹569                ₹569
96          PUMA  ₹1,569              ₹1,569
97        Layasa    ₹489                ₹489
98  Robbie jones    ₹478                ₹478
99          PUMA  ₹2,794              ₹2,794

[100 rows x 3 columns]

## Scrapping Data From Amazon of Laptop

In [152]:
driver.get('https://www.amazon.in/')

In [153]:
search_bar = driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
search_box = driver.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')

In [154]:
search_bar.send_keys('Laptop')

In [155]:
search_box.click()

In [159]:
i7_filter =  driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a')

In [160]:
i7_filter.click()

In [161]:
title = []
rating = []
price = []

In [179]:
def laptops():
    title_xpath = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
    rating_xpath =  driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
    price_xpath =  driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    
    for i in title_xpath[0:10]:
        title.append(i.text)
    for i in rating_xpath[0:10]:
        rating.append(i.text)
    for i in price_xpath[0:10]:
        price.append(i.text)
        
    print(len(title))
    print(len(rating))
    print(len(price))

In [180]:
laptops()

10
10
10

In [181]:
df = pd.DataFrame({'title':title,'rating':rating,'price':price})

In [182]:
laptop_data = df[:10][:]

In [183]:
laptop_data = pd.DataFrame(laptop_data)

In [184]:
laptop_data

                                               title rating     price
0  Acer Swift 5 Intel Evo Premium 14 Inches Full ...         1,05,385
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           57,990
2  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...           24,939
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           95,546
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...           82,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...           82,490
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           89,000
7  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...           79,990
8  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...         1,49,900
9  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           82,490

In [185]:
laptop_data.shape

(10, 3)

In [186]:
#title.clear()

In [177]:
#rating.clear()

In [178]:
#price.clear()

## Scrapping Quotes From AZquotes

In [74]:
driver = webdriver.Chrome('chromedriver.exe')

In [75]:
driver.get('https://www.azquotes.com/')

In [76]:
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')

In [77]:
top_quotes.click()

In [78]:
quote = []
author = []
quote_type = []

In [79]:
def quotes():
    quote_xpath = driver.find_elements(By.XPATH,'//a[@class="title"]')
    author_xpath = driver.find_elements(By.XPATH,'//div[@class="author"]')
    quote_type_xpath =  driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
    for i in quote_xpath[0:100]:
        quote.append(i.text)
    for i in author_xpath[0:100]:
        author.append(i.text)
    for i in quote_type_xpath[0:100]:
        quote_type.append(i.text)
        
    print(len(quote))
    print(len(author))
    print(len(quote_type))
    
    next_button = driver.find_element(By.XPATH,'(//li[@class="next"])[1]')
    next_button.click()

In [80]:
i=0
while i<=8:
    quotes()
    i=i+1

100
100
100
200
200
200
300
300
300
400
400
400
500
500
500
600
600
600
700
700
700
800
800
800
900
900
900

In [70]:
#quote.clear()

In [71]:
#author.clear()

In [72]:
#quote_type.clear()

In [81]:
len(quote)

900

In [82]:
def quotes1():
    quote_xpath = driver.find_elements(By.XPATH,'//a[@class="title"]')
    author_xpath = driver.find_elements(By.XPATH,'//div[@class="author"]')
    quote_type_xpath =  driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
    for i in quote_xpath[0:100]:
        quote.append(i.text)
    for i in author_xpath[0:100]:
        author.append(i.text)
    for i in quote_type_xpath[0:100]:
        quote_type.append(i.text)
        
    print(len(quote))
    print(len(author))
    print(len(quote_type))

In [83]:
quotes1()

1000
1000
1000

In [84]:
len(quote)

1000

In [85]:
quotes_data = pd.DataFrame({"QUOTE":quote,"AUTHOR":author,"QUOTE TYPE":quote_type})

In [86]:
quotes_data

,QUOTE,AUTHOR,QUOTE TYPE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

## Scrapping Data From Jagran Josh

In [226]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.jagranjosh.com/')

In [227]:
gk = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')

In [228]:
gk.click()

In [229]:
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')

In [230]:
pm.click()

In [239]:
x_path= driver.find_elements(By.XPATH,'//td//p')

In [260]:
pm=[]

In [261]:
for i in x_path[:]:
    pm.append(i.text)

In [262]:
pm

['1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896–1995)',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902–1987)',
 '28 July 1979 to 14 January 1980',
 '170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917–1984)',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944–1991)',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931–2008)',
 '2 December 1989 to 10 November 1990',
 '343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927–2007)',
 '10 November 1990 to 21 June 1991',
 '223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921–2004)',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 'First PM from south India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996',
 '16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997',
 '324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919–2012)',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - Present',
 '4th Prime Minister of India who served two consecutive tenures']

## Scrapping Data From Motor1 Top 50 expensive cars

In [131]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.motor1.com/')

In [134]:
nav = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')

In [135]:
nav.click()

In [136]:
features = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]')

In [137]:
features.click()

In [138]:
lists  = driver.find_element(By.XPATH,"/html/body/div[3]/div[8]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a")

In [139]:
lists.click()

In [140]:
car_xpath = driver.find_elements(By.XPATH,)

In [143]:
car=[]
price=[]
des=[]

In [154]:
def cars():
    car_xpath = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
    price_xpath = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
    des_xpath =  driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]//p')
    
    for i in car_xpath[0:100]:
        car.append(i.text)
    for i in price_xpath[0:100]:
        price.append(i.text)
    for i in des_xpath[0:100]:
        des.append(i.text)
        
    print(len(car))
    print(len(price))
    print(len(des))

In [155]:
cars()

51
51
100

In [150]:
des

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 '',
 'Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',

In [156]:
des.remove('Top Videos:')

In [157]:
des

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 'Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',

In [160]:
del des[0]

In [161]:
del des[1]

In [162]:
des

["But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Price: $5.8 Million',

In [163]:
del des[0]

In [164]:
des

['Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Price: $5.8 Million',
 'Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.',
 'Price: $6.4 Million',

In [165]:
del des[0]

In [166]:
des

['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Price: $5.8 Million',
 'Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.',
 'Price: $6.4 Million',

In [174]:
des2 = []
i=0

while(i < len(des)):
    if(i % 2 == 0):
        des3 = des2.append(des[i])
    i = i + 1

In [189]:
price2 = []
i=0

while(i < len(des)):
    if(i % 2 == 1):
        des3 = price2.append(des[i])
    i = i + 1

In [192]:
price2.pop()

"With a price tag of $13.4 million, the one-off Bugatti La Voiture Noire is officially the most expensive new Bugatti ever made. And understandably so. A modern interpretation of Jean Bugatti's personal Type 57 SC Atlantic, the La Voiture Noire uses the same quad-turbocharged 8.0-liter W16 engine as the Chiron, producing 1,479 horsepower. It has six – that's right, six exhaust tips, radical new wheels, an aggressive, bespoke fascia, and a gigantic light-up badge in the rear that spells out the name of the brand. Of course, this one-of-one Bugatti already has a home."

In [197]:
price2 = [i.replace('Price: ','') for i in price2]

In [199]:
price2

['$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$12.8 Million']

In [200]:
len(price2)

47

In [175]:
des2

['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.',
 "SP Automotive (short for Spyros Panopoulos) is a new name in the world of hypercars, but the brand's 2,000-horsepower, $6.4-million, aptly named Chaos has already made an impact. With a twin-turbocharged 4.0-liter V10, the base SP Automotive Chaos is one of the most expensive cars on this list – beating out many Lambos and Bugattis – but there's an even pricier version of this car that costs an eye-watering $14.4 million. That version reportedly packs 3,000 hp.",
 'The long list of pricey (new) Paganis ends with the Codualunga. Inspired by 1960s Italian coachbuilding, the stunning exterior and steampunk-esque interior – while equally stunning – are only part of what makes this Pagani so pricey. Under the hood is a twin-turbocharged 6.0-liter V12 producing 829 horsepower and 809 pound-feet of torque, paired to a seven-speed sequential transmission for a real race-car–like feel. The cost for this one-of-five Pagani is $7.4 million.',

In [176]:
len(des2)

48

In [178]:
des_xpath49= driver.find_element(By.XPATH,'(//div[@class="postBody description e-content"]//p)[102]')

In [182]:
des2.append(des_xpath49.text)

In [180]:
des_xpath50= driver.find_element(By.XPATH,'(//div[@class="postBody description e-content"]//p)[104]')

In [183]:
des2.append(des_xpath50.text)

In [185]:
len(des2)

50

In [187]:
price

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [188]:
car

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [205]:
price1 =  driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]')
price49 = driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[100]')
price50 =  driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[102]')

In [206]:
car_price = []

In [207]:
car_price.append(price1.text)

In [208]:
for i in price2 :
    car_price.append(i)

In [209]:
car_price

['Price: $1.2 Million',
 '$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$12.8 Million']

In [210]:
len(car_price)

48

In [211]:
car_price.append(price49.text)

In [212]:
car_price.append(price50.text)

In [213]:
len(car_price)

50

In [214]:
car_price = [i.replace('Price: ','') for i in car_price]

In [215]:
car_price

['$1.2 Million',
 '$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$12.8 Million',
 '$13.4 Million',
 '$28.0 Million (est.)']

In [216]:
car_price = [i.replace('(est.)','') for i in car_price]

In [217]:
car_price

['$1.2 Million',
 '$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$12.8 Million',
 '$13.4 Million',
 '$28.0 Million ']

In [218]:
print(len(car))
print(len(car_price))
print(len(des2))

51
50
50

In [219]:
car

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [220]:
car.pop()

'Most Expensive Cars In The World'

In [221]:
print(len(car))
print(len(car_price))
print(len(des2))

50
50
50

In [222]:
cars_data = pd.DataFrame({"CAR":car,"PRICE":car_price,"DESCRIPTION":des2})

In [224]:
cars_data

,CAR,PRICE,DESCRIPTION
0,Drako GTE,$1.2 Million,The Drako GTE is a super sedan in every sense ...
1,De Tomaso P72,$1.3 Million,The De Tomaso P72 is basically the definition ...
2,Ferrari LaFerrari,$1.4 Million,"At $1.4 million new, the Ferrari LaFerrari is ..."
3,Pagani Huayra,$1.4 Million,Inarguably one of the prettiest cars on this l...
4,McLaren Elva,$1.7 Million,The McLaren Elva is one of the latest addition...
5,Czinger 21C,$1.7 Million,"You might not know the name Czinger yet, but t..."
6,Ferrari Monza,$1.7 Million,"Much like the roof-less McLaren Elva, the Ferr..."
7,Gordon Murray T.33,$1.7 Million,The second and slightly more affordable superc...
8,Koenigsegg Gemera,$1.7 Million,"One of two Koenigsegg models on this list, the..."
9,Zenvo TSR-S,$1.7 Million,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
10,Hennessey Venom F5,$1.8 Million,"The Hennessey Venom GT was a record-breaker, t..."
11,Bentley Bacalar,$1.9 Million,"With just 12 total units produced, the Bentley..."
12,Hispano Suiza Carmen Boulogne,$1.9 Million,To call the Hispano Suiza Carmen Boulogne beau...
13,Bentley Mulliner Batur,$2.0 Million,The electric onslaught is coming. Bentley says...
14,Deus Vayanne,$2.0 Million,The Deus Vayanne may not be a household name (...
15,SSC Tuatara,$2.0 Million*,"Although initially cloaked in controversy, SSC..."
16,Lotus Evija,$2.1 Million,With a new Emira sports car and an Eletre elec...
17,Aston Martin Vulcan,$2.3 Million,"As with a few other cars on this list, the Ast..."
18,Delage D12,$2.3 Million,You may have heard of Delage before. In the ea...
19,McLaren Speedtail,$2.3 Million,What would you pay for the fastest production ...
20,Rimac Nevera,$2.4 Million,The Rimac Nevera takes the title of most expen...
21,Pagani Utopia,$2.5 Million,"First came the Zonda, then the Huayra, and now..."
22,Pininfarina Battista,$2.5 Million,"Aptly named after the company’s founder, Batti..."
23,Ferrari FXX K Evo,$2.6 Million,"Sure, you could buy a normal LaFerrari (which ..."
24,Gordon Murray T.50,$2.6 Million,"If the name Gordon Murray sounds familiar, it’..."
25,Lamborghini Countach,$2.6 Million,"The name Countach may be iconic, but is it wor..."
26,Mercedes-AMG Project One,$2.7 Million,Mercedes has promised a production version of ...
27,Aston Martin Victor,$3.0 Million,The folks at Aston Martin know a thing or two ...
28,Hennessey Venom F5 Roadster,$3.0 Million,The same Hennessey Venom F5 hypercar we all kn...
29,Koenigsegg Jesko,$3.0 Million,"The Koenigsegg Jesko, apart from being the fas..."
30,Aston Martin Valkyrie,$3.2 Million,The upcoming Aston Martin hybrid hypercar hasn...
31,W Motors Lykan Hypersport,$3.4 Million,Dubai-based W Motors shocked the world with it...
32,McLaren Solus,$3.5 Million,"One seat, 829 horsepower, and a top speed of o..."
33,Pagani Huayra Roadster BC,$3.5 Million,"Following Pagani’s past playbook, a roadster v..."
34,Bugatti Chiron Pur Sport,$3.6 Million,Another showstopper from the Geneva Motor Show...
35,Lamborghini Sian,$3.6 million,"In several ways, the Sian represents a bridge ..."
36,Koenigsegg CC850,$3.7 Million,The Koenigsegg CC850 was a surprise to be sure...
37,Bugatti Chiron Super Sport 300+,$3.9 Million,"Earlier this year, Bugatti captured the collec..."
38,Lamborghini Veneno,$4.5 Million,Lamborghini built just 14 examples of the Aven...
39,Bugatti Bolide,$4.7 Million,Produced in extremely limited numbers atop the...
40,Bugatti Mistral,$5.0 Million,The Bugatti Mistral sends the iconic W16 engin...
41,Pagani Huayra Imola,$5.4 Million,Even though the new Utopia marks the next big ...
42,Bugatti Divo,$5.8 Million,"Among Bugatti’s recently debuted vehicles, the..."
43,SP Automotive Chaos,$6.4 Million,SP Automotive (short for Spyros Panopoulos) is...
44,Pagani Codalunga,$7.4 Million,The long list of pricey (new) Paganis ends wit...
45,Mercedes-Maybach Exelero,$8.0 Million,"Like many others before it, the Mercedes-Benz ..."
46,Bugatti Centodieci,$9.0 Million,Bugatti debuted the Centodieci at last year’s ...
47,Rolls-Royce Sweptail,$12.8 Million,"Rolls-Royce, expectedly, takes two of the top ..."
48,Bugatti La Voiture Noire,$13.4 Million,"With a price tag of $13.4 million, the one-off..."
49,Rolls-Royce Boat Tail*,$28.0 Million,Rolls-Royce is back in the business of coachbu...

In [225]:
len(cars_data)

50